@media (min-width: 360px) {
    img {
        width: 200px;
    }
}

@media (min-width: 720px) {
    img {
        width: 400px;
    }
}

@media (min-width: 1600px) {
    img {
        width: 800px;
    }
}

html, body{
    /*height: 100%;*/
    margin: 0;
}

body, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}

#parent {
    width: 75%;
  }
